<nav class="navbar topNav">
    <div class="container-fluid">
        <div class="row navbarRow">
            <div class="col">

            </div>
            <div class="col text-center">
                <a class="navbar-brand navlink" href="/">Mongo Scraper</a>
            </div>
            <div class="col text-right">

                <a class="navlink" href="/clearSaved">Clear Saved Articles</a>
            </div>
        </div>


    </div>
</nav>