body {
  font-family: "Merriweather", serif;
  background: url("/assets/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.topNav {
  background: #6e7cc5 !important;
}

.navBody > div {
  color: white !important;
}
.navRight {
  display: inline-block;
}
.navlink {
  color: white !important;
}
/* .bg1 {
  background-image: url("/assets/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
} */

.aritcleImg {
  width: 250px;
  height: 200px;
}

#loading {
  height: 150px;
  width: 150px;
}

.aritcleCard {
  border: 2px solid #6e7cc5;
}
